<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Phantasma</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico', type: 'image/ico' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet" async>
    <link href="https://fonts.googleapis.com/css?family=Geo" rel="stylesheet" async>
  </head>

  <%= yield %>
</html>
