<!DOCTYPE html>
<html lang="en" style="background: #F7FAF9">
  <head>
    <meta charset="utf-8">
    <title>Phantasma</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico', type: 'image/ico' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet" async>
    <link href="https://fonts.googleapis.com/css?family=Geo" rel="stylesheet" async>
  </head>

  <body class="main2">
    <div class="row">
      <div class="col-lg-7 left-and-center-nav">
        <div class="row">
          <div class="col-md-4 mail-left">
            <div class="sidebar-item" style="display: flex">
              <img src="https://phantasma.io/img/phantasma_logo.svg" width="32" style="margin-right: 10px" /> <span class="current_identity">demo@phantasma.io</span>
            </div>

            <div class="sidebar-item">
              <a class="btn btn-primary"><i class="fa fa-edit"></i> New message</a>
            </div>

            <div class="sidebar-item selectable selected">
              <a href="#"><i class="fa fa-inbox"></i>Inbox</a>
            </div>

            <div class="sidebar-item selectable">
              <a href="#"><i class="fa fa-location-arrow"></i>Sent</a>
            </div>

            <div class="sidebar-item selectable">
              <a href="#"><i class="fa fa-file"></i>Draft</a>
            </div>

            <div class="sidebar-item selectable">
              <a href="#"><i class="fa fa-star"></i>Important</a>
            </div>

            <div class="sidebar-item selectable">
              <a href="#"><i class="fa fa-trash"></i>Trash</a>
            </div>

            <div class="sidebar-divider"></div>

            <div class="sidebar-item selectable">
              <a href="#"><i class="fa fa-envelope"></i>Mail</a>
            </div>

            <div class="sidebar-item selectable">
              <a href="#"><i class="fa fa-connectdevelop"></i>Wallet</a>
            </div>
<!--
            <div class="sidebar-item ">
              SETTINGS
            </div>
-->
            <div class="sidebar-divider"></div>

            <div class="sidebar-item">
              <a href="#"><i class="fa fa-sign-out"></i>Forget me</a>
            </div>
          </div>

          <div class="col-md-8 mail-center">
            <div class="search">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span id="mail-search-submit" class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" id="mail-search" placeholder="Search Mail" required="true">
              </div>
            </div>

            <div class="clearfix sort">
              <div class="pull-right">
                <span class="sel">Sort: Newest First</span><span class="control"><i class="fa fa-chevron-down"></i></span>
              </div>
            </div>

            <div class="message-list">
              <div class="message">
                <div class="clearfix title">
                  <span class="pull-left mail-title">
                    Illustration for Phantasma
                  </span>
                  <span class="pull-right mail-date">
                    <%= Date.today %>
                  </span>
                </div>

                <div class="body">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et...
                </div>

                <div class="clearfix footer">
                  <span class="pull-left name">
                    Philip Smith
                  </span>

                  <span class="pull-right address">
                    <%= SecureRandom.hex(16) %>
                  </span>
                </div>
              </div>

              <div class="message">
                <div class="clearfix title">
                  <span class="pull-left mail-title">
                    Illustration for Phantasma 2
                  </span>

                  <span class="pull-right mail-date">
                    <%= Date.today %>
                  </span>
                </div>

                <div class="body">
                  Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure...
                </div>

                <div class="clearfix footer">
                  <span class="pull-left name">
                    Philip Smith 2
                  </span>

                  <span class="pull-right address">
                    <%= SecureRandom.hex(16) %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 mail-right">
        <div class="pane">
          <div class="controls">

          </div>

          <div class="people">
            X to Y
          </div>

          <div class="title">
            Phantasma Project
          </div>

          <div class="body">
            Lorem ipsum
          </div>
        </div>

        <div class="pane more">
          <div class="people">
            X to Y
          </div>

          <div class="body">
            Lorem ipsum
          </div>
        </div>

        <div class="pane more">
          <div class="people">
            X to Y
          </div>

          <div class="body">
            Lorem ipsum
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
document.getElementsByClassName('mail-left')[0].style.minHeight = window.innerHeight + 'px';
</script>

<!--
    <div class="header">
      <div class="row">
        <div class="col-lg-6 text-left">
          <a href="<%= root_url %>" style="font-family: 'Geo',sans-serif; font-size: larger">
            <img src="http://phantasma.io/img/phantasma_monochrome.svg" width="32" style="margin-right: 10px" />PHANTASMA PROTOCOL</a>
        </div>

        <% if controller_name == 'main' %>
          <div class="col-lg-6 text-right" id='nav-menu' style="display: none;">
            <a href="#" onclick="event.preventDefault(); PH.loadDummyData()" style="color: blue; background: white">Load dummy data</a>

            <div class="btn-group">
              <button type="button" class="btn nav-btn dropdown-toggle ph-classentity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= action_name == 'subs' ? 'Subscribers' : (action_name == 'wallet' ? 'Payments' : action_name) %>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="<%= inbox_url %>">Inbox</a>
                <a class="dropdown-item" href="<%= wallet_url %>">Payments</a>
                <a class="dropdown-item" href="<%= files_url %>">Files</a>
                <a class="dropdown-item" href="<%= subs_url %>">Subscribers</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">NEO Address</a>
                <a class="dropdown-item" href="#">Forget me</a>
              </div>
            </div>

            <div class="btn-group" style="margin-left: 8px">
              <button id="walletListBtn" type="button" class="btn nav-btn dropdown-toggle ph-classentity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                demo@phantasma.io
              </button>
              <div class="dropdown-menu" id="walletList">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" id="add-mailbox" href="#">Add Mailbox</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<script>
PH.afterLoad(function() {
  var elem = document.getElementById('nav-menu');
  if (elem && typeof(Storage) !== "undefined") {
    elem.style.display = 'block';
  }

  elem = document.getElementById("walletListBtn");
  elem.innerHTML = PH.mainWallet === null || PH.mainWallet === undefined || PH.mainWallet === -1 ? 'Add Mailbox' : PH.wallets[PH.mainWallet].name;

  window.selectWalletBtnClk = function(event) {
    event.preventDefault();

    var wallet = parseInt(event.target.getAttribute('data-value'));

    PH.selectWallet(wallet);
  }

  elem = document.getElementById('walletList');
  for (var i = PH.wallets.length - 1; i >= 0; --i) {
    elem.innerHTML = '<a class="dropdown-item" href="#" onclick="selectWalletBtnClk(event)" data-value="' + i + '">' + PH.wallets[i].name + '</a>' + elem.innerHTML;
  }
});
</script>
-->