<!DOCTYPE html>
<html lang="en" style="background: #F7FAF9">
  <head>
    <meta charset="utf-8">
    <title>Phantasma</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico', type: 'image/ico' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet" async>
    <link href="https://fonts.googleapis.com/css?family=Geo" rel="stylesheet" async>
  </head>

  <body class="main2">
    <div class="row">
      <div class="col-lg-7 left-and-center-nav">
        <div class="row">
          <div class="col-md-4 mail-left">
            <div class="sidebar-item" style="display: flex">
              <img src="https://phantasma.io/img/phantasma_logo.svg" width="32" style="margin-right: 10px" /> <span class="current_identity">demo@phantasma.io</span>
            </div>

            <div class="sidebar-item">
              <a id="composeBtn" class="btn btn-primary"><i class="fa fa-edit"></i> New message</a>
            </div>
            <br/>

            <div id="inboxSection" class="sidebar-item selectable">
              <i class="fa fa-inbox"></i>Inbox
            </div>

            <div id="sentSection" class="sidebar-item selectable">
              <i class="fa fa-location-arrow"></i>Sent
            </div>

            <div id="draftSection" class="sidebar-item selectable">
              <i class="fa fa-file"></i>Draft
            </div>

            <div id="importantSection" class="sidebar-item selectable">
              <i class="fa fa-star"></i>Important
            </div>

            <div id="trashSection" class="sidebar-item selectable">
              <i class="fa fa-trash"></i>Trash
            </div>

            <div class="sidebar-divider"></div>

            <div class="sidebar-item selectable">
              <i class="fa fa-envelope"></i>Mail
            </div>

            <div class="sidebar-item selectable">
              <i class="fa fa-connectdevelop"></i>Wallet
            </div>
<!--
            <div class="sidebar-item ">
              SETTINGS
            </div>
-->
            <div class="sidebar-divider"></div>

            <div class="sidebar-item">
              <a href="#"><i class="fa fa-sign-out"></i>Forget me</a>
            </div>
          </div>

          <div class="col-md-8 mail-center">
            <div class="search">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span id="mail-search-submit" class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" id="mail-search" placeholder="Search Mail" required="true">
              </div>
            </div>

            <div class="clearfix sort">
              <div class="pull-right">
                <span class="sel">Sort: Newest First</span><span class="control"><i class="fa fa-chevron-down"></i></span>
              </div>
            </div>

            <div class="message-list">
              <div class="message">
                <div class="clearfix title">
                  <span class="pull-left mail-title">
                    Illustration for Phantasma
                  </span>
                  <span class="pull-right mail-date">
                    <%= Date.today - 1.day %>
                  </span>
                </div>

                <div class="body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi...
                </div>

                <div class="clearfix footer">
                  <span class="pull-left name">
                    Philip Smith
                  </span>

                  <span class="pull-right address">
                    <%= SecureRandom.hex(16) %>
                  </span>
                </div>
              </div>

              <div class="message">
                <div class="clearfix title">
                  <span class="pull-left mail-title">
                    Illustration for Phantasma 2
                  </span>

                  <span class="pull-right mail-date">
                    <%= Date.today - 2.day %>
                  </span>
                </div>

                <div class="body">
                  Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure...
                </div>

                <div class="clearfix footer">
                  <span class="pull-left name">
                    Philip Smith 2
                  </span>

                  <span class="pull-right address">
                    <%= SecureRandom.hex(16) %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 mail-right">
        <div class="pane">
          <div class="clearfix controls">
            <div class="pull-left mail-nav">
              <i class="fa fa-arrow-left"></i>
              <i class="fa fa-arrow-right" style="margin-left: 1rem;"></i>
            </div>

            <div class="pull-right options">
              <i class="fa fa-ellipsis-v"></i>
            </div>
          </div>

          <div class="relative-date">
            <%= time_ago_in_words(Time.now - 19.hours).capitalize %> ago
          </div>

          <div class="people">
            <%= SecureRandom.hex(16) %> <span class="ligature">to</span> <%= SecureRandom.hex(16) %>
          </div>

          <div class="title">
            Phantasma Project
          </div>

          <div class="body">
            A purely peer-to-peer version of electronic cash would allow online
payments to be sent directly from one party to another without going through a
financial institution. Digital signatures provide part of the solution, but the main
benefits are lost if a trusted third party is still required to prevent double-spending.
We propose a solution to the double-spending problem using a peer-to-peer network.
The network timestamps transactions by hashing them into an ongoing chain of
hash-based proof-of-work, forming a record that cannot be changed without redoing
the proof-of-work. The longest chain not only serves as proof of the sequence of
events witnessed, but proof that it came from the largest pool of CPU power. As
long as a majority of CPU power is controlled by nodes that are not cooperating to
attack the network, they'll generate the longest chain and outpace attackers.<br/>
            <br/>
            Cheers,<br/>
            PH Dev
          </div>
        </div>

        <div class="pane more">
          <div class="relative-date">
            <%= time_ago_in_words(Time.now - 21.hours).capitalize %> ago
          </div>

          <div class="body">
            The network itself requires minimal structure. Messages are broadcast on a best effort
basis, and nodes can leave and rejoin the network at will, accepting the longest
proof-of-work chain as proof of what happened while they were gone.
          </div>

          <div class="accent"></div>
        </div>
      </div>
    </div>
  </body>
</html>

<%= render "compose" %>

<script>
var setWindowSize = function() {
  document.getElementsByClassName('mail-left')[0].style.height = window.innerHeight + 'px';
  document.getElementsByClassName('mail-center')[0].style.height = window.innerHeight + 'px';
  document.getElementsByClassName('mail-right')[0].style.height = window.innerHeight + 'px';
};

setWindowSize();

window.addEventListener('resize', setWindowSize);

PH.afterLoad(function() {
  // Nav tab identity
  document.getElementsByClassName('current_identity')[0].innerHTML = PH.state.wallets[PH.state.mainWallet].name;

  // Section tab selected
  document.getElementById(PH.state.section + 'Section').className += ' selected';

  // Section tab links
  var elems = document.getElementsByClassName('selectable');
  for (var i = 0; i < elems.length; ++i) {
    elems[i].onclick = function(event) {
      event.preventDefault();
      var section = event.target.id.replace('Section', '');
      PH.state.section = section;
      PH.saveData();
      location.reload();
    };
  }

  // Center pane content
  var content = "";
  for (var i = 0; i < PH.state.inbox.items.length; ++i) {
    var elem = PH.state.inbox.items[i];
    var timeStr = new Date(elem.time * 1000).toLocaleDateString();
    content += '<div class="message"><div class="clearfix title"><span class="pull-left mail-title">' + PH.trunc(elem.title) + '</span><span class="pull-right mail-date">' + timeStr + '</span></div><div class="body">' + PH.trunc(elem.body, 160) + '</div><div class="clearfix footer"><span class="pull-left name"><b>' + PH.trunc(elem.from_name) + '</b></span><span class="address">' + PH.trunc(elem.from) + '</span></span><span class="pull-right address">' + PH.trunc(elem.to) + '</span></div></div>';
  }
  var container = document.getElementsByClassName('message-list')[0];
  container.innerHTML = content;

  // Center pane content message selection
  for (var i = 0; i < container.children.length; ++i) {
    container.children[i].onclick = function(event) {
      event.preventDefault();

      if (PH.state.inbox.selected === i) {
        PH.state.inbox.selected = -1;
      } else {
        PH.state.inbox.selected = i;
      }
      PH.saveData();
      location.reload();
    };
  }
});
</script>

<!--
    <div class="header">
      <div class="row">
        <div class="col-lg-6 text-left">
          <a href="<%= root_url %>" style="font-family: 'Geo',sans-serif; font-size: larger">
            <img src="http://phantasma.io/img/phantasma_monochrome.svg" width="32" style="margin-right: 10px" />PHANTASMA PROTOCOL</a>
        </div>

        <% if controller_name == 'main' %>
          <div class="col-lg-6 text-right" id='nav-menu' style="display: none;">
            <a href="#" onclick="event.preventDefault(); PH.loadDummyData()" style="color: blue; background: white">Load dummy data</a>

            <div class="btn-group">
              <button type="button" class="btn nav-btn dropdown-toggle ph-classentity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= action_name == 'subs' ? 'Subscribers' : (action_name == 'wallet' ? 'Payments' : action_name) %>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="<%= inbox_url %>">Inbox</a>
                <a class="dropdown-item" href="<%= wallet_url %>">Payments</a>
                <a class="dropdown-item" href="<%= files_url %>">Files</a>
                <a class="dropdown-item" href="<%= subs_url %>">Subscribers</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">NEO Address</a>
                <a class="dropdown-item" href="#">Forget me</a>
              </div>
            </div>

            <div class="btn-group" style="margin-left: 8px">
              <button id="walletListBtn" type="button" class="btn nav-btn dropdown-toggle ph-classentity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                demo@phantasma.io
              </button>
              <div class="dropdown-menu" id="walletList">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" id="add-mailbox" href="#">Add Mailbox</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<script>
PH.afterLoad(function() {
  var elem = document.getElementById('nav-menu');
  if (elem && typeof(Storage) !== "undefined") {
    elem.style.display = 'block';
  }

  elem = document.getElementById("walletListBtn");
  elem.innerHTML = PH.mainWallet === null || PH.mainWallet === undefined || PH.mainWallet === -1 ? 'Add Mailbox' : PH.wallets[PH.mainWallet].name;

  window.selectWalletBtnClk = function(event) {
    event.preventDefault();

    var wallet = parseInt(event.target.getAttribute('data-value'));

    PH.selectWallet(wallet);
  }

  elem = document.getElementById('walletList');
  for (var i = PH.wallets.length - 1; i >= 0; --i) {
    elem.innerHTML = '<a class="dropdown-item" href="#" onclick="selectWalletBtnClk(event)" data-value="' + i + '">' + PH.wallets[i].name + '</a>' + elem.innerHTML;
  }
});
</script>
-->